.intro-container
{
    height: 100vh;
    
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;


    /* border: 2px solid red; */
}

.intro-info
{
    margin-top: 1vh ;
}

.name
{
    font-size: 50px;
    font-weight: 300;
}

.dev-type
{
    font-size: 30px;
    font-weight: 500;

    margin: 4vh 0px;
}

.social-handles
{
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}


.social-handles img
{
    height: 5vh;
    border-radius: 50%;
}

.social-handles img:hover
{
    transform: scale(1.15);
    transition: ease .15s;
}

.intro-para
{
    margin: 5vh auto;
    width: 35vw;

    font-family: "Roboto Mono", monospace;
    text-align: justify;
    
    /* border: 2px solid red; */ 
}

.resume-btn
{
    margin: 5vh;
    padding: 1px 6px;
    
    height: 50px;
    width: 126px;
    
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    
    background-color: #0987F2;
    color: #FFFFFF;
    
    box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 4px;
    
    border-style: none;
    border-radius: 20px;
}

.resume-btn:hover
{
    border: 3px solid #FFFFFF;
    transition:  ease 0.35s;
}

.img-container
{
    width: 25vw ;
    /* border: 2px solid red; */
}

.profile-img
{
    height: 25vw;
    width: 25vw;

    border-radius: 50%;
}


/* Responsive */

@media screen and (max-width: 800px) {

    .intro-container
    {
        height: 100%;
        display: grid;
    
        /* border: 2px solid red; */
    }


    .img-container
    {
        /* display: flex; */
        margin-top: 10px;

        justify-self: center;
        align-self: center;
    }

    .intro-para
    {
        margin: 1vw auto;
        width: 85vw;
    }
    
  }