.container-items
{
    text-align: left;
    padding: 10px;

    background-color: hsl(0, 0%, 30%);

    color: white;

}

.e-border
{
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

.todo-item
{
    margin: 10px 0px 10px 15px;
}

input
{
    width: 100%;
}

button
{
    margin: 5px;
    width: 80px;
}