.skills-container
{
    height: 100%;
    /* border: 2px solid red; */
}

.skill-subcontainer
{
    display: flex;
    justify-content: center;

}

.skills-section
{
    padding-top: 10px;
    margin: 10px;

    border-radius: 10px ;
    border: 2px solid white;

    color: white;

    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 800px) {
    
    .skills-section
    {
        width: 80vw;
        
        padding-top: 10px;
        margin: 10px;
    
        border-radius: 10px ;
        border: 2px solid white;
    
        color: white;
    
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        text-align: center;
    }

}