.cart-card
{
    margin: 25px;
    min-height: 10vw;
    width: 90%;
    
    border-radius: 15px;
    
    box-shadow: 2px 2px 5px grey;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}

.cart-card img
{
    border-radius: 10px;
}

.item-container
{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;

    text-align: center;
    width: 35%;
    
}

.quantity-info
{
    margin-top: 10px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.quantity-btn
{ 
    height: 100%;
    width: 20%;
    
    font-size: 20px;
    
    border: none;
    border-radius: 3px;
    
    background-color: hsl(0, 0%, 0%);
    color: white;  
}

.quantity
{
    width: 10%;
}

.item-price
{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    color: green;
}

.delete-container
{
    display: grid;
    align-items: center;
    justify-content: center;
}

.delete-btn
{
   height: 25px;
   width: 25px;

   color: hsl(0, 68%, 50%);
   cursor: pointer;
}