.buttonContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    
    width: 25vw;
    margin: 1vw auto ;

}


.button
{
    width: 4vw;
    height: 2vw;
    margin: 0.1vw;
}