body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container
{
    margin-top: 5vw;
    width: 30%;

    border: 3px solid #999;
    border-radius: 5px;
}

.content
{
    margin: 10px;
}

.button
{
    height: 35px;
    width: 120px;

    margin: 5px;

    background-color: dodgerblue;
    color: white;

    font-size: 14px;

    border: none;
    border-radius: 15px;

    box-shadow: 2px 2px 2px lightblue;
}

.button:hover
{

    background-color: hsl(210, 100%, 40%);

    transition: 0.5s ease;
}

.red
{
    background-color: hsl(0, 80%, 50%);
}
.red:hover
{
    background-color: hsl(0, 50%, 50%);
}

.green
{
    background-color: hsl(145, 100%, 30%);
}
.green:hover
{
    background-color: green;
}