@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.project-container
{
    height: 60vh;
    width: 22vw;
    /* border: 2px solid red; */
}

a
{
    text-decoration: none;
}

.project-card
{
    color: white;

    margin: 4vh auto;

    text-align: center;
    font-family: "Roboto Mono", monospace;

    /* border: 2px solid red; */
}

.project-card:hover
{
    transform: scale(1.025);
    transition:  ease .4s;
}

.project-img
{
    height: 88%;
    width: 90%;
    
    object-fit: cover;
    
    border-radius: 20px;
    /* border: 2px solid red; */
    background-color: white;
}

.project-title
{ 
    height: 20%;
}

.project-title h2
{ 
    font-family: "Poppins";
    font-weight: 500 ;
    font-size: 1.2rem;
}

.project-title p
{ 
    font-weight: 200 ;
    letter-spacing: 2px;

}

/* Responsive */

@media screen and (max-width: 800px) {

    .project-container
    {
        height: 100%;
        width: 100%;

        /* border: 2px solid red; */
    }

    .project-img
    {
        width: 40vw;
    }
    
  }