.footer-container
{
    height: 5vw;
    text-align: center;
    margin: 8vh ;
    /* border: 2px solid red; */
}

.footer-info
{
    color: #888;
    font-family: "Roboto mono";
    font-size: 0.8rem;
}